<% unless session[:fishuserid] == nil %>
  <h2><%=session[:fishiserid].flatten.first["username"]%>'s Fish:</h2>
  <ul>
    <% @fishlist.each do |fish| %>
      <% if fish["user_id"] == session[:fishuserid].flatten.first["id"] %>
        <li>
          <a href="<%= fish["fishwiki"] %>"><%= fish["fishname"] %></a>
        </li>
      <% end %>
    <% end %>
<% end %>
</ul>