<!DOCTYPE html>
<html>
<head>
  <title>Fishbook</title>
  <link rel="stylesheet" type="text/css" href="newstyle.css">
</head>
<body>

<header>

    <section class="clearfix">
    <article class="full_column"><h3>Fishbook</h3></article>

      <% unless session[:user] == nil %>
          <article class="two_third"><p>Welcome, <%= session[:user]["username"] %>!</article>
        <article class="one_third" style="float:right; padding-right: 20px;">
          <form method="post" action="/log_out">
            <input class="button" type="submit" value="Log Out" style="float: right;"/>
          </form>
        </article>
      <% end %>
    </section>


</header>

<div class="wrapper">

  <%= yield %>

</div>


</body>
</html>
