.wrapper {
<<<<<<< HEAD
    width: 460px;
    margin: auto;
    background-color: white;
    border: solid #0b0039 4px;
    padding: 20px;
}

#header{
    height: 50px;
    width: 100%;
    background-color: #4d27ff;
    margin-bottom: 20px;
}

#headertext {
    font-family: Vivaldi, cursive;
}

body {
    background-color: #def4f2;
}

table {
    margin: auto;
}

h1, h2 {
    text-align: center;
}

body {
    font-family: serif;
}

label {
    display: inline-block;
    float: left;
    width: 150px;
}

.button {
    background: #4ec0b1;
    border: #0b0039 solid 1px;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, #91d2ff, #dbfff1);
    display: inline-block;
    width: 150px;
    height: 30px;
    margin: auto;
}

ul {
    list-style: none;
    border: solid 2px #0b0039;
    width: 150px;
    margin: auto;
    background-color: whitesmoke;
}

form {
    width: 460px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: solid 2px silver;
}

=======
    width: 300px;
    margin: auto;
}


a {
    text-decoration: none;
    color: blue;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.error {
    color: red;
}

.notice {
    color: green;
}

.container {
    width: 300px;
    clear: both;
    outline:#000000 solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.form-element label {
    display: inline-block;
    width: 90px;
}

.form-element input {
    display: inline-block;
    width: 200px;
}



.button {
    width: 300px;
    font-size: 20px;
}

.button_big {
    height: 100px;
    width: 300px;
    font-size: 20px;
}
>>>>>>> 0f2cef6ef358d171a5f2f211f98c0fb6cd232adf

